# Postgres
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/coffee_shop

# Telegram
TELEGRAM_BOT_TOKEN=
ADMIN_CHAT_ID=

# Web
NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_BOT_USERNAME=

# API
PORT=3001
WEB_ORIGIN=http://localhost:3000
